@{ 
    List<Position> positions = ViewBag.Positions;
    FitmentItem item = ViewBag.FitmentItem;
    int id = ViewBag.ID;
    Layout = null;
}
<script>
    $(function () {
        $("#form-exchange").submit(function () {
            var btn = $("#form-exchange button[type='submit']");
            btn.attr("disabled", "disabled");
            ShowMessage("正在转移，请稍等......");
            var data = $(this).serialize();
            $.request("/fitment/change", data, function (json) {
                if (json.result === 0) {
                    ShowErrorMessage(json.content);
                    btn.removeAttr("disabled");
                } else {
                    ShowSuccessMessage("成功转移");
                    location.href = "/fitment/detail?id=@(id)";
                }
            });
            return false;
        });
    });
</script>


<h3 class="text-center">
    &nbsp;转移位置
</h3>

<form class="form-horizontal" method="post" action="" id="form-exchange">
    <div class="row">
        <div class="col-xs-12">
            @{ 
                Html.RenderPartial("_Message");
            }
            <div class="form-group">
                <label class="control-label col-xs-4">&nbsp;新位置：</label>
                <div class="col-xs-7">
                    <input type="hidden" name="Id" value="@(item.ID)" />
                    <select name="PositionId" class="form-control">
                        @foreach(var position in positions)
                        {
                            <option value="@(position.ID)">@(position.Category.GetDescription()+"-"+position.Name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-4">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp; 转移</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp; 取消</button>
                </div>
            </div>
        </div>
    </div>
</form>