@{ 
    Layout = null;
    FitmentItem item = ViewBag.Model;
}

<h3 class="text-center">&nbsp;编辑项目</h3>
<form class="form-horizontal" method="post" action="" id="item-edit">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label col-md-4">&nbsp;项目：</label>
                    <div class="col-md-7">
                        <input type="text" name="" class="form-control" value="@(item.Project.Name)" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">&nbsp;单价：</label>
                    <div class="col-md-7">
                        <input type="text" name="" class="form-control" value="@string.Format("{0}元/{1}",item.Project.Price,item.Project.Unit)" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">&nbsp;数量：</label>
                    <div class="col-md-7">
                        <input type="hidden" name="ID" value="@(item.ID)" />
                        <input type="text" name="Number" class="form-control" value="@(item.Number)" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-7 col-md-offset-4">
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp; 保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp; 取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        $("#item-edit").submit(function () {
            var btn = $("#item-edit button[type='submit']");
            btn.text("正在保存.....").attr("disabled", "disabled");
            var data = $(this).serialize();
            $.request("/fitmentitem/edit", data, function (json) {
                if (json.result == 0) {
                    alert(json.content);
                    btn.empty().append('<i class="glyphicon glyphicon-ok"></i>&nbsp; 保存').removeAttr("disabled");
                } else {
                    location.href = "/fitment/detail?id=@(item.Position.FitmentID)";
                }
            });
            return false;
        });
    });
</script>

